
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Limelight&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Fascinate&family=Limelight&family=Quicksand:wght@300..700&display=swap');
body{
  background: linear-gradient(to bottom, white, lightblue, black);
  /* #800080 é roxo, #000000 é preto */
  color: rgb(252, 252, 253); /* Para o texto ficar visível */
  font-family:Limelight ;
  margin: 0 auto;
  padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
   flex-direction: column; 
   line-height: 10px;
}
li{
    display: inline-block;
    margin: 25px;
}
h1{
    font: 250px;
    color: aqua;
    font-size: 40px;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;

}
span{
    background: linear-gradient(to right, rgb(233, 232, 232), rgb(44, 215, 238));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family:Limelight ;
}
img{
    width: 600;
   
}
a:hover{
color: aqua;
transition: 0.3s all;
}
#increva-se-btn{
    border: 1px solid rgb(44, 215, 238);
    padding: 10px;
    border-radius: 25px;
}
#increva-se-btn:hover{
    background-color: aqua;
    color: aliceblue;
}
form{
display: flex;
flex-direction: column;
width: 70%;
}
form[type="submit"]{
height: 50px;
width: 50px;
background-color: aqua;
color: blueviolet;
}
input{
    margin-top: 19px;
    height: 30px;
    width: 12px;
    padding: 11px;
    border-radius: 20px;
    border:none;
    font-size: 18;
}